/* All styles for your Card Components live here */
.cardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    
   
}

 .cardBanner {
   
   
    margin:0 125px;
}

.title {
    margin: 0 150px;
}

.cardInfo {
    margin: 0 150px;
}
.cardLink {
    margin: 0 150px;
}