
.calculator {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 525px;
    background-color: blueviolet;
    border: 5px solid grey;
    box-shadow: 5px 1px 2px black, 5px 0 5px blue;
    
    
}

 .row {
    display: flex;
    height: 100%;
    margin: 5px;
}
