.buttonStyle {
    font-size: 50px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5%;
    margin: 5px;
    box-shadow: 1px 1px 2px black, 5px 5px 5px black;
   
    
}


.numberButton {
    width: 25%;
    font-weight: bold;
    color: black;
    background: rgb(138, 45, 138);
    
    
}


.actionButton {
    width: 25%;
    color: white;
    background: deepskyblue;
    
}


.largeButton {
    width: 81%;
    color: white;
    background: black;
    border-radius: 5%;
}

.zeroButton {
    color: black;
    font-weight: bold;
    background: white;
}
.clearButton{
    color: black;
    font-weight: bold;
    background-color: white;
    
    
}
